<html>
  <head>
      <link rel="icon" href="data:;base64,=">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>

    </title>
    <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.26/esri/themes/light/main.css"
    />
    <script src="https://js.arcgis.com/4.26/"></script>
    <script>
    require(["esri/config", "esri/Map",  "esri/views/SceneView", "esri/layers/GeoJSONLayer"], (
          esriConfig, Map,  SceneView, GeoJSONLayer) => {

        esriConfig.request.timeout= 600000;

        let map = new Map({
          basemap: "topo-vector",
          ground: "world-elevation"
        });

        let view = new SceneView({
          container: "viewDiv",
          map: map,
          scale: 50000000,
          center: [-101.17, 21.78]
        });

        view.on("layerview-create", (event) => {
            document.getElementById('loader1').style.visibility = 'hidden';
        });

        let template = {
            title: "{station} station",
            content: "N.nez {par}"
        };

        window.onload = myFunction;

        document.getElementById('submit').onclick = myFunction;
        function myFunction(event){
            map.layers.remove(map.findLayerById('supermag'));
            map.layers.remove(map.findLayerById('kriging'));

            document.getElementById('loader1').style.visibility = 'visible';

            let dt = document.getElementById("datetime").value;
            let url = "/supermag?dt="+dt;

            let geojsonLayer = new GeoJSONLayer({
                id: 'supermag',
                url: url,
                popupTemplate: template,
            });

            geojsonLayer.renderer = {
              type: "simple",
              symbol: {
                type: "point-3d",
                symbolLayers: [{
                  type: "icon",
                  resource: { primitive: "circle"},
                  material: { color: [255, 84, 54, 1] },
                  size: 5
                }]
              }
            };

            map.add(geojsonLayer);

            view.on("layerview-create", (event) => {
            document.getElementById('loader1').style.visibility = 'hidden';
            });
        }

        let coordsWidget = document.createElement("div");
        coordsWidget.id = "coordsWidget";
        coordsWidget.className = "esri-widget esri-component";
        coordsWidget.style.padding = "7px 15px 5px";

        view.ui.add(coordsWidget, "bottom-right");

        function showCoordinates(pt) {
          let coords =
            pt.latitude.toFixed(6) +
            "," +
            pt.longitude.toFixed(6);
            coordsWidget.innerHTML = coords;
        }

        view.on("click", function (evt) {
            if (evt.button === 2) {
                showCoordinates(view.toMap({ x: evt.x, y: evt.y }));
                map.layers.remove(map.findLayerById('kriging'));
                let coord = coordsWidget.innerHTML;
                let url1 = "/kriging?coord="+coord;
                //map.layers.remove(map.findLayerById('kriging'));

                let geojsonLayer1 = new GeoJSONLayer({
                    id: 'kriging',
                    url: url1,
                    popupTemplate: template,
                });

                geojsonLayer1.renderer = {
                  type: "simple",
                  symbol: {
                    type: "point-3d",
                    symbolLayers: [{
                      type: "icon",
                      resource: { primitive: "circle"},
                      material: { color: [255, 84, 54, 1] },
                      size: 5
                    }]
                  }
                };

                map.add(geojsonLayer1);

                view.on("layerview-create", (event) => {
                document.getElementById('loader1').style.visibility = 'hidden';
                });
            }
        });
        });

    </script>
  </head>

  <body>

    <label for="datetime">Дата и время: </label>
    <input type="datetime-local" name="datetime" id="datetime" value="1974-12-12T12:00" required/>
    <input type="button" value="ок" id="submit" name="submit">

    <div id="loader1" style="position:absolute;z-index:1000; top:50%; left:50%;">
            <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
            </div>
    </div>

    <div id="viewDiv"></div>
  </body>
</html>
